    /* main css */
    /* CSS styling for the whole page */
    
    body {
        background-color: #16213e;
        color: #fefefe;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    h1 {
        font-family: 'Rowdies', cursive;
    }
    /* CSS Styling for the buttons */
    
    .button {
        border-radius: 10px;
        margin: 0 1rem 0 1rem;
        background-color: #e94560;
    }
    /* CSS Styling for the labels */
    
    .note {
        font-size: 0.8rem;
    }

    .note-div {
        margin: 0;
    }
    label {
        color: #fefefe;
    }
    /* CSS Styling for select fields */
    
    select {
        border-radius: 10px;
    }
    /* CSS Styling for the header */
    
    header {
        height: 150px;
        background-color: #1a1a2e;
        color: #e94560;
    }
    /* CSS Styling for the form */
    
    .input-box {
        background-color: rgba(255, 255, 255, 0.1);
        height: 500px;
        border: 4px solid #0f3460;
        border-radius: 20px;
        margin-bottom: 34px;
    }
    /* CSS Styling for the footer */
    
    .home-footer {
        position: fixed;
        bottom: 0;
        height: 100px;
        background-color: #1a1a2e;
        color: #e94560;
    }
    
    .workout-footer {
        position: sticky;
        bottom: 0;
        height: 100px;
        background-color: #1a1a2e;
        color: #e94560;
    }
    /* CSS styling for the button section */
    
    #return {
        margin-bottom: 1%;
        margin-top: 1%;
    }
    /* CSS styling for the box around the workout table */

    #error-text {
        color: #e94560;
    }
    
    .output-box {
        background-color: rgba(255, 255, 255, 0.1);
        border: 4px solid #0f3460;
        border-radius: 20px;
        height: 350px;
        position: relative;
    }
    
    table {
        border-collapse: collapse;
        border-style: hidden;
    }
    /* CSS styling for the box around the song playlist */
    .reveal {
        background-color: #1a1a2e;
    }

    .reveal h2 {
        text-align: center;
    }

    .reveal button {
        margin-top: 40px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .reveal .row {
        text-align: center;
        padding: 20px;
    }

    .reveal column {
        padding: 0px;
    }

    .reveal .close-button {
        margin-top: 0;
    }

    .snackbar {
        visibility: hidden;
        min-width: 40vw;
        margin-left: -20vw;
        background-color: #e94560;
        color: #fff;
        text-align: center;
        font-size: 1.3em;
        border-radius: 2px;
        padding: 16px;
        position: fixed;
        z-index: 1;
        left: 50%; 
        bottom: 30px;
        border-radius: 20px;
    }

    .snackbar-show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 1.5s;
        animation: fadein 0.5s, fadeout 0.5s 1.5s;
    }

    .fa-trash-alt {
        color: #e94560;
        font-size: 1.5em
    }
    
    .reveal .delete {
        margin-top: 10px;
        margin-left: 10px;
    }
    
    #song-playlist {
        background-color: rgba(255, 255, 255, 0.1);
        border: 4px solid #0f3460;
        border-radius: 20px;
        margin-top: 10px;
        margin-bottom: 1%;
        height: 400px;
        position: relative;
    }
    /* CSS styling for the individual table elements */
    
    table tr:nth-of-type(odd) {
        color: #ffffff !important;
        background-color: #191414 !important;
    }
    
    table tr:nth-of-type(even) {
        color: #ffffff !important;
        background-color: #1f1a1a !important;
    }
    /* scroll bar */
    
     ::-webkit-scrollbar {
        width: 1em;
    }
    
     ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    
     ::-webkit-scrollbar-thumb {
        background-color: #1f1a1a;
        border-radius: 20px;
    }
    
    iframe {
        border-radius: 20px;
    }
    /* changing the footer from fixed to sticky on the index page at 1000px height */

    @-webkit-keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
      }
      
      @keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
      }
      
      @-webkit-keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
      }
      
      @keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
    }
    
    @media screen and (max-height: 840px) {
        .home-footer {
            position: sticky;
        }
        .snackbar {
            min-width: 80vw;
            margin-left: -40vw;
        }

        .left {
            margin-right: 1vw;
            margin-left: 0;
        }

        .right {
            margin-left: 1vw;
            margin-right: 0;
        }

        .center {
            margin: 0 1vw;
        }
    }
    /* changing the footer from sticky to fixed on the workout page at 1000px height */
    
    @media screen and (min-height: 1100px) {
        .workout-footer {
            position: fixed;
        }
    }